.registration_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  box-sizing: border-box;
  background: #172b4d;
  height: 100%;

  .logo_wrapper {
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;

    img {
      width: 250px;
      min-height: 55px;
    }
  }

  .title {
    font-family: 'QuickSand-SemiBold';
    font-size: 35px;
    color: #fff;
    margin-bottom: 10px;
    letter-spacing: 2px;
  }

  .title_description {
    font-family: 'QuickSand-Regular';
    font-size: 18px;
    color: #fff;
    margin-bottom: 30px;
    letter-spacing: 1px;
  }

  form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    input {
      margin-bottom: 20px;
      border: 1px solid #fff;
      border-radius: 5px;
      padding: 10px 20px;
      width: 50%;
      box-sizing: border-box;
      color: #fff;
      font-family: 'QuickSand-Regular';

      &::placeholder {
        color: #fff;
      }
    }
    
    label {
      width: 50%;
      display: flex;
      align-items: flex-start;
      font-size: 13px;
      font-family: 'QuickSand-Regular';
      color: #fff;
      margin-bottom: 20px;
    }

    .buttons_wrapper {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;

      .create_account_btn {
        color: #172b4d;
        background: #fff;
        width: 225px;
        font-family: 'QuickSand-Regular';
        border-radius: 5px;
        padding: 15px 40px;
        cursor: pointer;
        outline: none;
        margin-right: 30px;

        &:disabled {
          opacity: .6;
        }
      }

      .sign_in_btn {
        color: #fff;
        width: 225px;
        font-family: 'QuickSand-Regular';
        border: 1px solid #fff;
        border-radius: 5px;
        padding: 15px 40px;
        cursor: pointer;
        outline: none;
      }
    }
  }
}