<section class="registration_wrapper">
  <div class="logo_wrapper"><img src="../../../assets/main_logo.png" alt="ScrumLaunch, developing"></div>
  <h1 class="title">Welcome to ScrumLaunch desk!</h1>
  <h3 class="title_description">Please fill the form to get started</h3>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)">
    <label>First Name</label>
    <input formControlName="firstName" type="text" placeholder="Enter your first name">
    <label>Last Name</label>
    <input formControlName="lastName" type="text" placeholder="Enter your last name">
    <label>Email Adress</label>
    <label *ngIf="firebaseService.showErrorText">{{firebaseService.errorMessage}}</label>
    <input formControlName="email" type="email" placeholder="Enter your email adress">
    <label>Password</label>
    <input formControlName="password" type="password" placeholder="Enter your password">
    <label>Already have an account?</label>
    <div class="buttons_wrapper">
      <button type="submit" [disabled]="userForm.invalid" class="create_account_btn">Sign Up</button>
      <button type="submit" [routerLink]="['/authorization']" class="sign_in_btn">Sign In</button>
    </div>
  </form>
</section>