.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.75);
}

.modal_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 11;
  position: fixed;
  top: 55px;
  right: 0;
  left: 0;
  width: 100%;

  .modal_top_section {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;

    .search_developers_input {
      width: 100%;
      padding: 15px 10px 10px;
      background: transparent;
      color: #ffffff;
      border-bottom: 1px solid #fff;
      font-family: "QuickSand-Bold";
      font-size: 16px;

      &::placeholder {
        color: #ffffff;
      }
    }
  }

  .modal_bottom_section {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;

    .developer_list_wrapper {
      width: 100%;

      .developer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        p {
          padding: 15px;
          font-family: "QuickSand-Regular";
          font-size: 13px;
          box-sizing: border-box;
          color: #ffffff;
        }
      }
    }
  }
}