<div class="background" (click)="modalService.showSearchModal = false"></div>
<div class="modal_wrapper">
  <div class="modal_top_section">
    <input type="text" class="search_developers_input" (keyup)="onKey($event)" placeholder="Type developer name"
      #searchInput>
  </div>
  <div class="modal_bottom_section">
    <ul class="developer_list_wrapper">
      <li class="developer" *ngFor="let developer of developersToShow" (click)="goToDeveloper(developer.uid)">
        <p>{{developer.displayName}}</p>
        <p>{{developer.email}}</p>
        <p>{{developer.developerType}}</p>
        <p>{{developer.team}}</p>
      </li>
    </ul>
  </div>
</div>