.authorization_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  box-sizing: border-box;
  height: 100%;
  background:#172b4d;

  .logo_wrapper {
    border-bottom: 1px solid #fff;
    margin-bottom: 40px;

    img {
      width: 250px;
      min-height: 55px;
    }
  }

  .title {
    font-family: 'QuickSand-SemiBold';
    font-size: 35px;
    color: #fff;
    margin-bottom: 10px;
    letter-spacing: 2px;
  }

  .title_description {
    font-family: 'QuickSand-Regular';
    font-size: 18px;
    color: #fff;
    margin-bottom: 40px;
    letter-spacing: 1px;
  }

  form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    input {
      margin-bottom: 20px;
      border: 1px solid #fff;
      border-radius: 5px;
      padding: 10px 20px;
      width: 50%;
      box-sizing: border-box;
      color: #fff;
      font-family: 'QuickSand-Regular';

      &::placeholder {
        color: #fff;
      }
    }
    
    label {
      width: 50%;
      display: flex;
      align-items: flex-start;
      font-size: 13px;
      font-family: 'QuickSand-Regular';
      color: #fff;
      margin-bottom: 20px;
    }

    .buttons {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      .sign_up_btn {
        color: #fff;
        width: 225px;
        font-family: 'QuickSand-Regular';
        border: 1px solid #fff;
        border-radius: 5px;
        padding: 15px 40px;
        cursor: pointer;
        outline: none;
        margin-right: 40px;
      }
  
      .sign_in_btn {
        color: #172b4d;
        background: #fff;
        width: 225px;
        font-family: 'QuickSand-Regular';
        border-radius: 5px;
        padding: 15px 40px;
        cursor: pointer;
        outline: none;
        margin-right: 30px;
  
        &:disabled {
          opacity: .6;
        }
      }
    }

    .social_buttons {
      display: flex;
      align-items: center;

      .google_btn {
        display: flex;
        align-items: flex-end;
        font-size: 13px;
        font-family: 'QuickSand-Regular';
        color: #fff;
        cursor: pointer;

        svg {
          margin-right: 7px;
        }
      }
    }
  }
}