<mat-form-field>
  <mat-label class="ticket_text">Title</mat-label>
  <input matInput cdkFocusInitial [(ngModel)]="data.ticket.title" class="ticket_text"/>
</mat-form-field>

<mat-form-field>
  <mat-label class="ticket_text">Description</mat-label>
  <input matInput [(ngModel)]="data.ticket.description" class="ticket_text"/>
</mat-form-field>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="{ ticket: data.ticket }">OK</button>
  <button mat-button (click)="cancel()">Cancel</button>
  <button
    *ngIf="data.enableDelete"
    mat-fab
    class="delete_btn"
    aria-label="Delete"
    [mat-dialog-close]="{ ticket: data.ticket, delete: true }">
    Delete
  </button>
</div>
