main {
  display: flex;
  justify-content: center;
  padding: 30px 15%;
  box-sizing: border-box;
  
  app-left-navbar {
    margin-right: 10%;
  }

  .boards_wrapper {
    text-align: center;
    width: 100%;

    .personal_desks_wrapper, .recent_desks_wrapper {
      margin-bottom: 30px;

      .personal_desks_title, .recent_desks_title {
        font-size: 16px;
        font-family: "QuickSand-Bold";
        color: #5e6c84;
        text-align: left;
        padding-bottom: 7px;
        margin-bottom: 15px;
        text-align: center;
      }

      .personal_desks, .recent_desks {
        display: grid;
        grid-template-columns: repeat(auto-fit, 190px);
        grid-gap: 20px;
        justify-content: center;

        li {
          width: 195px;
          min-height: 96px;
          border-radius: 3px;
          cursor: pointer;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 14px;
          font-family: "QuickSand-Bold";
          letter-spacing: 0.02em;
          position: relative;

          p {
            z-index: 1;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .tile_fade {
            background-color: rgba(0,0,0,.15);
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
          }

          &:hover {
            .tile_fade {
              background-color: rgba(0,0,0,.25);
            }
          }
        }

        .personal_desk, .recent_desk {
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }

        .create_desk {
          background: rgba(9,30,66,.04);
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 14px;
          font-family: "QuickSand-Regular";
          letter-spacing: 0.02em;
          color: #172b4d;

          &:hover {
            background: rgba(9,30,66,.08);
          }
        }
      }
    }
  }
}

.progress_bar_wrapper {
  position: absolute;
  width: 100%;
}

app-search-modal {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
}
