<app-search-modal *ngIf="modalService.showSearchModal" (closeModalEvent)="modalService.showSearchModal = false">
</app-search-modal>
<app-header></app-header>
<div class="progress_bar_wrapper" *ngIf="firebaseService.loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<main>
  <app-left-navbar></app-left-navbar>
  <div class="boards_wrapper">
    <div class="personal_desks_wrapper">
      <h2 class="personal_desks_title">
        Personal desks
      </h2>
      <ul class="personal_desks">
        <li class="personal_desk" *ngFor="let desk of firebaseService.data.userDesks"
          [style.background-image]="desk.backgroundUrl" (click)="goToDesk(desk.id)">
          <p>{{desk.title}}</p>
          <span class="tile_fade"></span>
        </li>
        <li class="create_desk" (click)="modalService.showCreateDeskModal = true">
          Create desk
        </li>
      </ul>
    </div>
  </div>
</main>