<app-header></app-header>
<div class="progress_bar_wrapper" *ngIf="firebaseService.loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<main>
  <div class="teams_wrapper">
    <div class="title_wrapper">
      <h1 class="title">Teams</h1>
    </div>

    <p class="choose_one">choose one:</p>

    <ul class="tabs_wrapper">
      <li class="tab" (click)="selectTab(groups)">GROUPS</li>
      <li class="tab" (click)="selectTab(members)">MEMBERS</li>
    </ul>

    <ng-template #groups>
      <div class="teams_content">
        <div class="title_header">
          <p class="title">Groups</p>
        </div>
        <ul class="fields team">
          <li class="name">NAME</li>
          <li class="members">MEMBERS</li>
        </ul>
        <div *ngFor="let team of firebaseService.teams" class="data_wrapper team">
          <p>{{team.name}}</p>
          <p *ngFor="let developer of team.developers">{{developer.displayName}}</p>
          <p *ngIf="!team.developers">-</p>
        </div>
      </div>
    </ng-template>

    <ng-template #members>
      <div class="members_content">
        <div class="title_header">
          <p class="title">Members</p>
        </div>
        <ul class="fields">
          <li class="name">NAME</li>
          <li class="email">EMAIL</li>
          <li class="group">GROUP</li>
        </ul>
        <div *ngFor="let team of firebaseService.teams">
          <div *ngFor="let developer of team.developers" class="data_wrapper">
            <p class="name_field">{{developer.displayName}}</p>
            <p class="email_field">{{developer.email}}</p>
            <p class="group_field">{{team.name}}</p>
          </div>
        </div>
      </div>
    </ng-template>

  </div>
</main>

<ng-container *ngTemplateOutlet="selected"></ng-container>