.progress_bar_wrapper {
  position: absolute;
  width: 100%;
}

main { 
  padding: 45px 0;

  .teams_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
    flex-direction: column;
    margin: auto;

    .tabs_wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      .tab {
        padding: 15px 40px;
        background: #172b4d;
        color: #fff;
        border-radius: 7px;
        cursor: pointer;
        font-family: "QuickSand-Bold";
        letter-spacing: 0.02em;
        font-size: 14px;

        &:first-child {
          margin-right: 30px;
        }
      }
    }
  }
}

.title_wrapper {

  .title {
    color: #172b4d;
    font-size: 24px;
    font-family: "QuickSand-Bold";
    letter-spacing: 0.02em;
    margin-bottom: 25px;
  }
}

.choose_one {
  color: #172b4d;
  font-size: 18px;
  font-family: "QuickSand-Regular";
  letter-spacing: 0.02em;
  margin-bottom: 25px;
}

.teams_content, .members_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background: #f4f5f7;
  border: 1px solid #dfe1e6;
  padding: 30px 15px;
  font-family: "QuickSand-Regular";
  color: #172b4d;

  .teams_names {
    margin-bottom: 10px;
    display: flex;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .title_header {
    width: 100%;
    color: #FFFFFF;
    background: #172b4d;
    padding: 6px 10px;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 15px;
    border-radius: 5px;

    .titles {
      font-family: "QuickSand-Bold";
      font-size: 14px;
    }
  }

  .fields {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    font-family: "QuickSand-Bold";
    font-size: 14px;
    margin-bottom: 5px;

    &.team {
      justify-content: space-around;

      li {
        width: 200px;
      }
    }
  }

  .data_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 14px;

    &.team {
      justify-content: space-around;

      p {
        width: 200px;
      }
    }
  }
}