.main {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  position: relative;
  overflow: auto;

  .progress_bar_wrapper {
    position: fixed;
    width: 100%;

    ::ng-deep .mat-progress-bar-background.mat-progress-bar-element {
      display: none;
    }

    ::ng-deep .mat-progress-bar-fill::after {
      background: rgba(0, 0, 0, 0.5)
    }
  
    ::ng-deep .mat-progress-bar-buffer {
      display: none;
    }
  }

  .desk_header {
    padding: 20px;
    box-sizing: border-box;

    .title_wrapper {

      h2 {
        color: #fff;
        font-family: "QuickSand-Bold";
        letter-spacing: 0.02em;
        font-size: 22px;
        text-transform: capitalize;
        margin-bottom: 15px;
      }
    }

    .create_ticket_btn_wrapper {

      .create_ticket_btn {
        padding: 15px;
        background: #ebecf0;
        color: #172b4d;
        outline: none;
        border: none;
        border-radius: 6px;
        font-size: 14px;
        font-family: "QuickSand-Bold";
        letter-spacing: 0.02em;
        cursor: pointer;
      }
    }
  }

  .board {
    position: relative;
    width: 100%;

    .container-wrapper {
      display: flex;
      align-items: flex-start;
      padding: 0 20px 20px 20px;
      box-sizing: border-box;
      margin-bottom: 8px;
      overflow-x: auto;
      overflow-y: hidden;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
  
      .container {
        border-radius: 3px;
        margin-right: 8px;
        width: 272px;
        display: flex;
        flex-direction: column;
        max-height: 100%;

        .list {

          &.cdk-drop-list-dragging {
        
            .box {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              box-sizing: border-box;
              background: #ffffff;
              box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
        
              &:last-child {
                border: none;
              }
        
              &:not(.cdk-drag-placeholder) {
                transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
              }
            }
          }
        }

        .h2_wrapper {
          padding: 10px 15px;
          box-sizing: border-box;
          color: #172b4d;
          background: #ebecf0;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          flex: 0 0 auto;

          h2 {
            font-size: 14px;
            font-family: "QuickSand-Bold";
            letter-spacing: 0.02em;
          }
        }

        .list {
          background: #ebecf0;
          padding: 10px 15px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          flex: 1 1 auto;
          margin-bottom: 0;
          overflow-y: auto;
          overflow-x: hidden;
          min-height: 0;

          p {
            font-family: "QuickSand-Regular";
            font-size: 12px;
          }
        }
      }
    }
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
