<main class="main" [style.background-image]="firebaseService.deskData.backgroundUrl">
  <app-header></app-header>
  <div class="progress_bar_wrapper" *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div class="desk_header">
    <div class="title_wrapper">
      <h2>{{firebaseService.deskData.title}}</h2>
    </div>
    <div class="create_ticket_btn_wrapper">
      <button class="create_ticket_btn" (click)="newTask()">
        + Add Ticket
      </button>
    </div>
  </div>
  <div class="board">
    <div class="container-wrapper">
      <div class="container">
        <div class="h2_wrapper">
          <h2>Backlog</h2>
        </div>
        <mat-card cdkDropList id="todo" #todoList="cdkDropList" [cdkDropListData]="todo | async"
          [cdkDropListConnectedTo]="[doneList, inProgressList]" (cdkDropListDropped)="drop($event)" class="list">
          <app-ticket class="box" [deskId]="deskId" (edit)="editTask('todo', $event)"
            *ngFor="let ticket of todo | async" cdkDrag [ticket]="ticket"></app-ticket>
        </mat-card>
      </div>

      <div class="container">
        <div class="h2_wrapper">
          <h2>In progress</h2>
        </div>
        <mat-card cdkDropList id="inProgress" #inProgressList="cdkDropList" [cdkDropListData]="inProgress | async"
          [cdkDropListConnectedTo]="[todoList, doneList]" (cdkDropListDropped)="drop($event)" class="list">
          <app-ticket class="box" [deskId]="deskId" (edit)="editTask('inProgress', $event)"
            *ngFor="let ticket of inProgress | async" cdkDrag [ticket]="ticket"></app-ticket>
        </mat-card>
      </div>

      <div class="container">
        <div class="h2_wrapper">
          <h2>Completed</h2>
        </div>
        <mat-card cdkDropList id="done" #doneList="cdkDropList" [cdkDropListData]="done | async"
          [cdkDropListConnectedTo]="[todoList, inProgressList]" (cdkDropListDropped)="drop($event)" class="list">
          <app-ticket class="box" [deskId]="deskId" (edit)="editTask('done', $event)"
            *ngFor="let ticket of done | async" cdkDrag [ticket]="ticket"></app-ticket>
        </mat-card>
      </div>
    </div>
  </div>
</main>