<router-outlet></router-outlet>
<app-profile-modal *ngIf="modalService.showProfileModal" (closeModalEvent)="modalService.showProfileModal = false">
</app-profile-modal>
<app-create-desk-modal *ngIf="modalService.showCreateDeskModal"
  (closeModalEvent)="modalService.showCreateDeskModal = false"></app-create-desk-modal>
<app-create-ticket-modal *ngIf="modalService.showCreateTicketModal"></app-create-ticket-modal>
<app-create-team-modal *ngIf="modalService.showCreateTeamModal"
  (closeModalEvent)="modalService.showCreateDeskModal = false"></app-create-team-modal>