<div class="nav_wrapper">
  <nav class="left_nav_bar_wrapper">
    <button class="show_buttons_list_btn">
      Working platform ScrumLaunch
    </button>
    <ul class="left_nav_bar">
      <li class="teams" (click)="modalService.showCreateTeamModal = true">
        <p class="li_text">Teams</p>
        <span>+</span>
      </li>
      <li class="desks" (click)="modalService.showCreateDeskModal = true">
        <p class="li_text">Desks</p>
        <span>+</span>
      </li>
    </ul>
    <div class="show_developers_button_wrapper" (click)="toggleIcon()">
      <button class="show_developers_button">
        Developers
      </button>
      <span>
        <svg #arrowSvg width="18" height="18" role="presentation" focusable="false" viewBox="0 0 24 24">
          <path
            d="M11.293 16.707l-7.071-7.07a1 1 0 111.414-1.415L12 14.586l6.364-6.364a1 1 0 111.414 1.414l-7.07 7.071a1 1 0 01-1.415 0z"
            fill="currentColor"></path>
        </svg>
      </span>
    </div>
    <ul class="developer_list_wrapper" *ngIf="showList">
      <li class="developer_list" (click)="goToDeveloper(user.uid)" *ngFor="let user of firebaseService.usersAll">
        <p class="li_text">{{user.displayName}}</p>
      </li>
    </ul>
  </nav>
</div>