.nav_wrapper {

  .left_nav_bar_wrapper {

    .show_buttons_list_btn {
      font-size: 14px;
      font-family: "QuickSand-Bold";
      color: #5e6c84;
      text-align: left;
      padding-bottom: 7px;
      margin-bottom: 15px;
      border-bottom: 1px solid rgba(9,30,66,.13);
      width: 220px;
      box-sizing: border-box;
    }

    .show_developers_button_wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 5px;
      margin-bottom: 5px;

      .show_developers_button {
        font-size: 14px;
        font-family: "QuickSand-Bold";
        color: #5e6c84;
        text-align: left;
      }

      span {
        color: #5e6c84;
        cursor: pointer;

        svg {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      &:hover, &:active, &:visited {
        background: rgba(9,30,66,.04);
      }
    }

    .left_nav_bar {
      list-style-type: none;

      li {
        margin-bottom: 8px;
        position: relative;
        display: grid;
        align-items: center;
        grid-template-columns: 12px 1fr 20px;
        cursor: pointer;

        &.desks {
          margin-bottom: 35px;
        }

        span {
          grid-column: 3;
          grid-row: 1;
          color: #5e6c84;
          cursor: pointer;
        }

        .li_text {
          font-family: "QuickSand-Regular";
          font-size: 13px;
          box-sizing: border-box;
          grid-column: 1/span 3;
          grid-row: 1;
          padding: 5px 10px;
        }

        &:hover, &:active, &:visited {
          background: rgba(9,30,66,.04);
        }
      }
    }

    .developer_list_wrapper {
      
      .developer_list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 5px;
        box-sizing: border-box;
        border-bottom: 1px solid transparent;
        cursor: pointer;
  
        .li_text {
          font-family: "QuickSand-Regular";
          font-size: 13px;
          box-sizing: border-box;
          color: #000000;
        }
  
        &:hover {
          border-bottom: 1px solid #5e6c84;
        }
      }
    }
  }
}