<app-header></app-header>
<div class="progress_bar_wrapper" *ngIf="firebaseService.loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div class="top_header_wrapper">
  <div class="top_header">
    <div class="avatar_block" #avatarWrapper
      [style.background-image]="this.firebaseService.dataForDevPage.avatarUrl ? 'url(' + this.firebaseService.dataForDevPage.avatarUrl + ')' : 'url(assets/empty_avatar.png)'">
    </div>
    <h2 class="name">{{firebaseService.dataForDevPage.displayName}}</h2>
    <p class="email">{{firebaseService.dataForDevPage.email}}</p>
  </div>
</div>
<div class="personal_data_wrapper">
  <h1 class="title">User data</h1>
  <div class="form_personal_data">
    <div class="change_full_name_wrapper">
      <p class="text">User full name</p>
      <p class="name_input">{{firebaseService.dataForDevPage.displayName}}</p>
    </div>
    <div class="change_email_wrapper">
      <p class="text">User email</p>
      <p class="email_input">{{firebaseService.dataForDevPage.email}}</p>
    </div>
    <div class="change_type_wrapper">
      <p class="text">Developer type</p>
      <p class="type_input">{{firebaseService.dataForDevPage.developerType}}</p>
    </div>
    <div class="change_team_wrapper">
      <p class="text">Team</p>
      <p class="team_input">{{firebaseService.dataForDevPage.team}}</p>
    </div>
    <div class="user_desks_wrapper">
      <p class="text">User desks</p>
      <p class="user_desks" (click)="goToDesk(desk.id)" *ngFor="let desk of firebaseService.dataForDevPage.desks">
        {{desk.title}}
      </p>
    </div>
  </div>
</div>