.top_header_wrapper {
  background: #f4f5f7;
  border-bottom: 1px solid #dfe1e6;

  .top_header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 650px;
    padding: 32px;

    .avatar_block {
      margin-right: 15px;
      height: 48px;
      width: 48px;
      border-radius: 50%;
      background-size: cover;
      background-position: 50%;
      position: relative;
      overflow: hidden;
      background-repeat: no-repeat;

      .avatar_file {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        outline: none;
        color: transparent;
        width: 100%;
        box-sizing: border-box;
        padding: 13px 14.5px;
        cursor: pointer;

        &::-webkit-file-upload-button {
          visibility: hidden;
        }

        &::before {
          content: '\f030';
          font-family: fontAwesome;
          font-size: 20px;
          color: #fff;
          visibility: hidden;
        }

        &:hover {
          background: rgba(0, 0, 0, 0.5) ;

          &::before {
            visibility: visible;
          }
        }
      }
    }

    .name {
      margin-right: 10px;
      font-size: 22px;
      font-family: "QuickSand-Bold";
      letter-spacing: 0.02em;
      color: #0c3953;
    }

    .email {
      font-size: 12px;
      color: #5e6c84;
      font-family: "QuickSand-Regular";
    }
  }
}

.progress_bar_wrapper {
  position: absolute;
  width: 100%;
}

.personal_data_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 530px;
  padding: 15px;
  flex-direction: column;
  margin: auto;

  .title {
    color: #172b4d;
    font-size: 24px;
    font-family: "QuickSand-Bold";
    letter-spacing: 0.02em;
    margin-bottom: 45px;
  }

  .form_personal_data {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    .change_email_wrapper, .change_full_name_wrapper, .change_type_wrapper, .change_team_wrapper, .user_desks_wrapper {
      margin-bottom: 20px;
      width: 100%;

      .text {
        margin-bottom: 10px;
        font-family: "QuickSand-Bold";
        color: #172b4d;
        font-size: 14px;
        letter-spacing: 0.02em;
      }

      .email_input, .type_input, .name_input, .team_input, .user_desks {
        width: 100%;
        box-sizing: border-box;
        color: #172b4d;
        font-size: 14px;
        border-radius: 3px;
        padding: 8px 12px;
        margin: 5px;
        box-shadow: inset 0 0 0 2px #dfe1e6;
        background: #fafbfc;
        display: block;
        font-family: "QuickSand-Regular";
      }

      .user_desks {
        cursor: pointer;
      }
    }
  }
}