/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html, body {
  height: 100%;
}

input {
  display: block;
  outline: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

@font-face {
  font-family: "QuickSand-Regular";
  src: url(./assets/fonts/Quicksand/Quicksand-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "QuickSand-Bold";
  src: url(./assets/fonts/QuickSand/QuickSand-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "QuickSand-SemiBold";
  src: url(./assets/fonts/QuickSand/QuickSand-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(./assets/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(./assets/fonts/Roboto/Roboto-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-Thin";
  src: url(./assets/fonts/Roboto/Roboto-Thin.ttf) format("truetype");
}