.team_name {
  font-size: 14px;
  font-family: "QuickSand-Bold";
  letter-spacing: 0.02em;
  color: #172b4d;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.75);
}

.modal_wrapper {
  display: flex;
  justify-content: center;
  align-self: center;
  z-index: 2;
  position: fixed;
  right: 0;
  left: 0;

  .mat-dialog-actions {
    width: 270px;
    min-height: 215px;
    padding: 24px;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .save_btn {
      width: 180px;
      height: 36px;
      background: #172b4d;
      color: #ffffff;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}