<div class="background" (click)="modalService.showCreateTeamModal = false"></div>
<div class="modal_wrapper">
  <div mat-dialog-actions>
    <mat-form-field>
      <mat-label class="team_name">Team name</mat-label>
      <input #teamNameInput matInput cdkFocusInitial class="team_name" [(ngModel)]="name" />
    </mat-form-field>
    <button mat-fab class="save_btn" aria-label="Save data" [disabled]="!name"
      (click)="firebaseService.setNewTeam(this.teamNameInput.value) && modalService.showCreateTeamModal = false">Save
      data</button>
  </div>
</div>