.registration_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 30px;
  box-sizing: border-box;
  background:#172b4d;
  min-height: 100%;

  .logo_wrapper {
    border-bottom: 1px solid #fff;
    margin-bottom: 40px;

    img {
      width: 250px;
      min-height: 55px;
    }
  }

  .title_description {
    font-family: 'QuickSand-Regular';
    font-size: 18px;
    color: #fff;
    margin-bottom: 70px;
    letter-spacing: 1px;
  }

  .form_wrapper {
    display: flex;
    flex-direction: column;
    width: 40%;

    .chosen_team_name_wrapper, .chosen_type_wrapper {
      width: 100%;

      .chosen_team_name, .chosen_type {
        font-size: 13px;
        font-family: "QuickSand-Regular";
        color: #172b4d;
        margin-bottom: 10px;
        padding: 10px;
        background: #fff;
        border-radius: 3px;
        margin-bottom: 45px;
      }
    }


    .choose_dev_team_wrapper, .choose_dev_type_wrapper {
      display: grid;
      align-items: center;
      grid-template-columns: 12px 1fr 20px;
      margin-bottom: 20px;
      cursor: pointer;

      .choose_team_text, .choose_type_text {
        font-size: 16px;
        font-family: 'QuickSand-Regular';
        color: #fff;
        grid-column: 1/span 3;
        grid-row: 1;
      }

      span {
        color: #fff;
        grid-column: 3;
        grid-row: 1;
      }    
    }

    .teams_wrapper, .types_wrapper {
      height: 150px;
      overflow: auto;
      margin-bottom: 45px;

      .team_list, .type_list {
        font-size: 13px;
        font-family: 'QuickSand-Regular';
        color: #172b4d;
        margin-bottom: 10px;
        padding: 10px;
        background: #fff;
        border-radius: 3px;
        cursor: pointer;
      }
    }

    .submit_btn {
      color: #fff;
      width: 100%;
      font-family: 'QuickSand-Regular';
      border: 1px solid #fff;
      border-radius: 5px;
      padding: 15px 20px;
      cursor: pointer;
      outline: none;
      margin-bottom: 10px;
    }
  }
}