<section class="registration_wrapper">
  <div class="logo_wrapper"><img src="../../../assets/main_logo.png" alt="ScrumLaunch, developing"></div>
  <h3 class="title_description">{{firebaseService.data.displayName}}, please fill the second form to get started</h3>
  <div class="form_wrapper">
    <div class="choose_dev_team_wrapper" (click)="toggleIcon()">
      <p class="choose_team_text">
        Team
      </p>
      <span>
        <svg #arrowSvg width="18" height="18" role="presentation" focusable="false" viewBox="0 0 24 24">
          <path
            d="M11.293 16.707l-7.071-7.07a1 1 0 111.414-1.415L12 14.586l6.364-6.364a1 1 0 111.414 1.414l-7.07 7.071a1 1 0 01-1.415 0z"
            fill="currentColor"></path>
        </svg>
      </span>
    </div>
    <ul class="teams_wrapper" *ngIf="showTeamList">
      <li class="team_list" *ngFor="let team of firebaseService.teams" (click)="getDataFromUserSide($event)">
        {{team.name}}
      </li>
    </ul>
    <div class="chosen_team_name_wrapper">
      <p class="chosen_team_name" *ngIf="showChosenTeam">
        {{userFormSecondData.team}}
      </p>
    </div>
    <div class="choose_dev_type_wrapper" (click)="toggleTypesIcon()">
      <p class="choose_type_text">
        Developer Type
      </p>
      <span>
        <svg #arrowSvgTypes width="18" height="18" role="presentation" focusable="false" viewBox="0 0 24 24">
          <path
            d="M11.293 16.707l-7.071-7.07a1 1 0 111.414-1.415L12 14.586l6.364-6.364a1 1 0 111.414 1.414l-7.07 7.071a1 1 0 01-1.415 0z"
            fill="currentColor"></path>
        </svg>
      </span>
    </div>
    <ul class="types_wrapper" *ngIf="showDevList">
      <li class="type_list" *ngFor="let type of types" (click)="getDataFromUserSide($event)">
        {{type.typeName}}
      </li>
    </ul>
    <div class="chosen_type_wrapper">
      <p class="chosen_type" *ngIf="showChosenType">
        {{userFormSecondData.developerType}}
      </p>
    </div>
    <button type="submit" (click)="firebaseService.signUpSecond(userFormSecondData)" class="submit_btn">Submit</button>
  </div>
</section>