<app-header></app-header>
<div class="progress_bar_wrapper" *ngIf="firebaseService.loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div class="top_header_wrapper">
  <div class="top_header">
    <div class="avatar_block" #avatarWrapper
      [style.background-image]="firebaseService.data.avatarUrl ? 'url(' + firebaseService.data.avatarUrl + ')' : 'url(assets/empty_avatar.png)'">
      <input type="file" class="avatar_file" (change)="setAvatar($event)">
    </div>
    <h2 class="name">{{firebaseService.data.displayName}}</h2>
    <p class="email">{{firebaseService.data.email}}</p>
  </div>
</div>
<div class="personal_data_wrapper">
  <h1 class="title">Personal data management</h1>
  <div class="form_personal_data">
    <div class="change_full_name_wrapper">
      <p class="text">User full name</p>
      <input type="text" class="name_input" placeholder="{{firebaseService.data.displayName}}">
    </div>
    <div class="change_email_wrapper">
      <p class="text">User email</p>
      <input type="text" class="email_input" placeholder="{{firebaseService.data.email}}">
    </div>
    <div class="change_type_wrapper">
      <p class="text">Developer type</p>
      <input type="text" class="type_input" placeholder="{{firebaseService.data.developerType}}">
    </div>
    <div class="change_team_wrapper">
      <p class="text">Team</p>
      <input type="text" class="team_input" placeholder="{{firebaseService.data.team}}">
    </div>
  </div>
  <button class="save_data">Save data</button>
</div>