.item {
  color: #172b4d;
  margin-bottom: 10px;
  cursor: pointer;
  width: 242px;
  box-sizing: border-box;
  box-shadow: none;

  h2 {
    font-size: 14px;
    font-family: "QuickSand-Bold";
    letter-spacing: 0.02em;
    padding-bottom: 5px;
  }

  p {
    font-size: 12px;
    font-family: "QuickSand-Regular";
    letter-spacing: 0.02em;
  }
}