<header [ngStyle]="{'background': this.router.url === '/desk/'+this.params.id+'' ? 'rgba(0, 0, 0, .1)' : '#172b4d'}">
  <nav class="top_nav">
    <ul class="nav_btns_wrapper">
      <li class="go_to_home_btn" [routerLink]="['/main']">
        <svg width="24" height="24" role="presentation" focusable="false" viewBox="0 0 24 24">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M3.586 10.414A2 2 0 003 11.828V19a2 2 0 002 2h5a1 1 0 001-1v-6h2v6a1 1 0 001 1h5a2 2 0 002-2v-7.172a2 2 0 00-.586-1.414l-7.707-7.707a1 1 0 00-1.414 0l-7.707 7.707zM13 12a2 2 0 012 2v5h4v-7.172l-7-7-7 7V19h4v-5a2 2 0 012-2h2z"
            fill="currentColor"></path>
        </svg>
      </li>
      <li class="desks_btn" *ngIf="modalService.teamsPage" [routerLink]="['/teams']">Teams</li>
      <li *ngIf="modalService.mainPage" class="search_btn" (click)="modalService.showSearchModal = true">
        <svg width="24" height="24" role="presentation" focusable="false" viewBox="0 0 24 24">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M10.5 18a7.5 7.5 0 115.936-2.915l3.94 4.01a1 1 0 01-1.425 1.402l-3.938-4.006A7.467 7.467 0 0110.5 18zm5.5-7.5a5.5 5.5 0 11-11 0 5.5 5.5 0 0111 0z"
            fill="currentColor"></path>
        </svg>
      </li>
      <li class="go_to_profile_img" (click)="modalService.toggleShowingModal()"
        [style.background-image]="firebaseService.data.avatarUrl ? 'url(' + firebaseService.data.avatarUrl + ')' : 'url(assets/empty_avatar.png)'">
      </li>
    </ul>
  </nav>
  <div class="logo_wrapper" [routerLink]="['/main']">
    <img src="../../../assets/main_logo.png" alt="ScrumLaunch">
  </div>
</header>