header {
  min-height: 40px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;

  .top_nav {

    .nav_btns_wrapper {
      display: flex;
      list-style-type: none;

      .go_to_home_btn, .desks_btn, .search_btn {
        cursor: pointer;
        background: hsla(0,0%,100%,.3);
        display: flex;
        border-radius: 3px;
        align-items: center;
        color: #fff;
        box-sizing: border-box;
        padding: 5px;

        &:not(:last-child) {
          margin-right: 5px;
        }

        &:hover {
          background: hsla(0,0%,100%,.2);
        }
      }

      .desks_btn {
        font-size: 14px;
        padding: 5px 15px;
        font-family: 'QuickSand-Bold';
        letter-spacing: 0.02em;
      }

      .go_to_profile_img {
        cursor: pointer;
        width: 34px;
        padding: 0;
        height: 34px;
        background-size: cover;
        background-position: 50%;
        border-radius: 50%;
        background-repeat: no-repeat;
      }
    }
  }

  .logo_wrapper {
    cursor: pointer;
    
    img {
      width: 170px;
      min-height: 30px;
    }
  }
}