<section class="profile_modal_wrapper">
  <div class="profile_modal_header">
    <div class="title_wrapper">
      <h3>Account</h3>
    </div>
    <button class="close_btn" (click)="modalService.showProfileModal = false">
      <svg width="10" height="10" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M5.58579 7L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683418 0.292893 0.292893C0.683418 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L7 5.58579L12.2929 0.292893C12.6834 -0.0976311 13.3166 -0.0976311 13.7071 0.292893C14.0976 0.683418 14.0976 1.31658 13.7071 1.70711L8.41421 7L13.7071 12.2929C14.0976 12.6834 14.0976 13.3166 13.7071 13.7071C13.3166 14.0976 12.6834 14.0976 12.2929 13.7071L7 8.41421L1.70711 13.7071C1.31658 14.0976 0.683418 14.0976 0.292893 13.7071C-0.0976311 13.3166 -0.0976311 12.6834 0.292893 12.2929L5.58579 7Z"
          fill="currentColor"></path>
      </svg>
    </button>
  </div>
  <div class="content">
    <div class="profile_description_wrapper">
      <div class="avatar_wrapper"
        [style.background-image]="firebaseService.data.avatarUrl ? 'url(' + firebaseService.data.avatarUrl + ')' : 'url(assets/empty_avatar.png)'">
      </div>
      <div class="description">
        <p class="full_name">{{this.firebaseService.data.displayName}}</p>
        <p class="email">{{this.firebaseService.data.email}}</p>
      </div>
    </div>
    <button class="profile_modal_btn" [routerLink]="['/profile']">Profile</button>
    <button class="profile_modal_btn" (click)="firebaseService.logOut()">Log out</button>
  </div>
</section>