.profile_modal_wrapper {
  box-sizing: border-box;
  box-shadow: 0 8px 16px -4px rgba(9,30,66,.25), 0 0 0 1px rgba(9,30,66,.08);
  width: 304px;
  min-height: 416px;
  background: #fff;
  border-radius: 2px;

  .profile_modal_header {
    margin-bottom: 8px;
    padding: 0 12px;
    position: relative;
    text-align: center;
    display: grid;
    align-items: center;
    grid-template-columns: 12px 1fr 12px;

    .title_wrapper {
      padding: 0 32px;
      box-sizing: border-box;
      grid-column: 1/span 3;
      grid-row: 1;
      border-bottom: 1px solid rgba(9,30,66,.13);

      h3 {
        color: #5e6c84;
        line-height: 40px;
        font-family: 'QuickSand-Regular';
        font-size: 13px;
      }
    }

    .close_btn {
      grid-column: 3;
      grid-row: 1;
      color: #5e6c84;
      cursor: pointer;

      &:hover {
        color: #172b4d;
      }
    }
  }

  .content {
    padding: 0 12px;
    box-sizing: border-box;

    .profile_description_wrapper {
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(9,30,66,.13);
      padding-bottom: 12px;
      margin-bottom: 8px;

      .avatar_wrapper {
        width: 34px;
        height: 34px;
        background-size: cover;
        background-position: 50%;
        border-radius: 50%;
        background-repeat: no-repeat;
        margin-right: 8px;
      }

      .description {
        font-family: 'QuickSand-Regular';

        p {
          overflow: hidden;
          max-width: 230px;
        }

        .full_name {
          text-transform: capitalize;
          color: #172b4d;
          font-size: 14px;
          letter-spacing: 0.02em;
          line-height: 1.5;
        }

        .email {
          color: #b3bac5;
          font-size: 12px;
          text-overflow: ellipsis;
        }
      }
    }

    .profile_modal_btn {
      font-family: 'QuickSand-Regular';
      padding: 20px 12px;
      text-align: left;
      outline: none;
      color: #172b4d;
      font-size: 14px;
      letter-spacing: 0.02em;
      width: 100%;
      box-sizing: border-box;
      cursor: pointer;

      &:hover, &:active, &:visited {
        background: rgba(9,30,66,.04);
      }
    }
  }
}