<div class="background" (click)="modalService.showCreateDeskModal = false"></div>
<div class="modal_wrapper">
  <div class="modal_top_section">
    <div #backgroundElement class="create_desk_title_section" style="background-image: url('/assets/mountains.jpeg');">
      <input #inputElementDeskTitle type="text" class="send_title" [(ngModel)]="title" placeholder="Add desk title">
      <button class="close_btn" (click)="modalService.showCreateDeskModal = false">
        <svg width="18" height="18" role="presentation" focusable="false" viewBox="0 0 24 24"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.586 12L5.293 6.707a1 1 0 011.414-1.414L12 10.586l5.293-5.293a1 1 0 111.414 1.414L13.414 12l5.293 5.293a1 1 0 01-1.414 1.414L12 13.414l-5.293 5.293a1 1 0 01-1.414-1.414L10.586 12z" fill="currentColor"></path></svg>
      </button>
    </div>
    <div class="choose_theme_section">
      <p class="choose_theme_text">Choose theme</p>
      <ul class="choose_theme">
        <li class="theme" *ngFor="let background of backgroundPhotos" (click)="setBackground($event)" [ngStyle]="{'background-image': 'url(' + background.backgroundUrl + ')'}"></li>
      </ul>
    </div>
  </div>
  <div class="btn_wrapper">
    <button type="submit" class="create_desk_btn" [disabled]="!title" (click)="createDesk()">Create desk</button>
  </div>
</div>
