.modal_wrapper {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  z-index: 2;
  position: fixed;
  top: 60px;
  right: 0;
  left: 0;

  .modal_top_section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    .create_desk_title_section {
      padding: 10px 10px 10px 16px;
      position: relative;
      width: 296px;
      height: 96px;
      box-sizing: border-box;
      margin-right: 15px;
      background-size: cover;
      background-position: 50%;
      border-radius: 3px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      .close_btn {
        color: #fff;
        cursor: pointer;
        z-index: 2;
      }
      
      &::before {
        background: rgba(0,0,0,.15);
        position: absolute;
        bottom: 0;
        content: "";
        display: block;
        left: 0;
        right: 0;
        top: 0;
        background-color: rgba(0,0,0,.4);
        border-radius: 3px;
      }

      .send_title {
        font-size: 14px;
        font-family: 'QuickSand-Bold';
        letter-spacing: 0.02em;
        color: #fff;
        z-index: 2;
        padding: 2px 6px;
        border-bottom: 1px solid #fff;

        &::placeholder {
          color: lightgrey;
        }
      }
    }

    .choose_theme_section {
      display: flex;
      flex-direction: column;
      align-items: center;

      .choose_theme_text {
        font-size: 12px;
        color: #fff;
        font-family: 'QuickSand-Bold';
        letter-spacing: 0.02em;
        opacity: .7;
        margin-bottom: 5px;
      }

      .choose_theme {
        display: grid;
        grid-template-columns: repeat(3, 28px);
        grid-gap: 5px;

        .theme {
          width: 28px;
          height: 28px;
          background-position: 50%;
          background-size: cover;
          border-radius: 3px;
          color: #fff;
          position: relative;
          cursor: pointer;

          &::before {
            background: rgba(0,0,0,.15);
            position: absolute;
            bottom: 0;
            content: "";
            display: block;
            left: 0;
            right: 0;
            top: 0;
            border-radius: 3px;
            z-index: 0;
          }

          &:hover {
            &::before {
              background: rgba(0,0,0,.6);
            }
          }
        }
      }
    }
  }

  .btn_wrapper {
    display: flex;
    justify-content: center;

    .create_desk_btn {
      background: #f4f5f7;
      font-size: 13px;
      font-family: "QuickSand-Regular";
      color: #172b4d;
      padding: 8px 32px;
      border-radius: 3px;
      cursor: pointer;

      &:disabled {
        background: lightgray;
      }
    }
  }
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.75);
}